image: Visual Studio 2017

skip_branch_with_pr: true
skip_tags: true
skip_commits:
  files:
    - '**/*.md'

environment:
  Appveyor: true
  # Postgres
  # POSTGRES_PATH: C:\Program Files\PostgreSQL\9.6
  # PGUSER: postgres
  # PGPASSWORD: Password12!
  # POSTGRES_ENV_POSTGRES_USER: postgres
  # POSTGRES_ENV_POSTGRES_PASSWORD: Password12!
  # POSTGRES_ENV_POSTGRES_DB: test
  # MySQL
  # MYSQL_PATH: C:\Program Files\MySql\MySQL Server 5.7
  # MYSQL_PWD: Password12!
  # MYSQL_ENV_MYSQL_USER: root
  # MYSQL_ENV_MYSQL_PASSWORD: Password12!
  # MYSQL_ENV_MYSQL_DATABASE: test
services:
  # - mssql2016
  # - mysql
  # - postgresql

init:
  # - git config --global core.autocrlf input
  # - SET PATH=%POSTGRES_PATH%\bin;%MYSQL_PATH%\bin;%PATH%

nuget:
  disable_publish_on_pr: true

build_script:
  # Postgres
  # - createdb test
  # MySQL
  # - mysql -e "create database test;" --user=root
  # Our stuff
  - ps: .\build.ps1 -BuildNumber "$env:APPVEYOR_BUILD_NUMBER" -Version "$env:APPVEYOR_REPO_TAG_NAME" -PullRequestNumber "$env:APPVEYOR_PULL_REQUEST_NUMBER" -CreatePackages $true -RunTests $false

test: off
artifacts:
  - path: .\.nupkgs\*.nupkg
  
deploy:
- provider: NuGet
  # server:
  on:
    branch: master  
  api_key:
    secure: xCatS3JqFEiz6NRcXpik3IOL+UtPDrQkKOHasopX1TlgB+guW5fD71UVc4Cs767T
  # symbol_server: