<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/sqlkata/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="ahmad-moussawi" />
            <add key="ClearTextPassword" value="GITHUB_TOKEN" />
        </github>
    </packageSourceCredentials>
</configuration>